/* Estilos CSS para el encabezado y barra de navegaci칩n */
header {
    background: #ee0808;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  nav {
    background: #777;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  /* Estilos CSS para la imagen centrada */
  .centered-image {
    display: block;
    margin: 10px auto;
    max-width:max-content ;
    max-height: 50%;
    border-style: double ;
    border-color: #333;
    border-width: 10px;
  }

  /*Estilo CSS para p치rrafo*/
  .p치rrafo {
    position: relative;
    margin-left:0px;
    margin-right: 32%;
    background-color: #9b9434;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    width: 68%;
    max-height:20%; 
    border:10px;
    overflow: hidden;

  }
  
  /* Estilos CSS para la incrustaci칩n de Google Maps */
  .google-map {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    text-align: right;
  }
  
  /* Estilos CSS para el footer */
  footer {
    background: #7c13139a;
    padding: 10px;
    text-align: center;
    color: #0a0101;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #050101;
    text-decoration: none;
  }